body {
  background-image: url(https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  text-align: center;
  color:white;
}


.container {
  display:flex;
}

.filters {
  justify-content:center;
  justify-items: center;
}
.countries-list {
  
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;

}

.country {
  flex-direction: column;
   height: 200px;
    justify-content: flex-start;
    text-align: center;
    width: 200px;
}

span {
  display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: white;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
